.country-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    &__content {
        display: flex;
        justify-content: center;
    }
    &__link {
        padding: 10px;
        outline: none;
        text-decoration: none;
        font-weight: bold;
        color: orange;
    }
    &__link:hover {
        color: gray;
    }
    h4 {
        text-align: center;
    }
}
